body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.TextBox {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gameBoard {
  margin-left: auto;
  margin-right: auto;
}

.timer {
  padding-top: 25px;
  color: grey;
  overflow: auto;
}
